.project-wrapper {
  display: flex;
  width: 100%;
  padding: 30px 50px;
  box-sizing: border-box;
}

.table-wrapper {
  width: 100%;
  box-sizing: border-box;
  margin-left: 5%;
}

button {
  width: 100px;
  margin-bottom: 25px;
  margin-left: 50px;
}

.project-card-component {
  max-width: 300px;
}

mat-spinner {
  position: relative;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
}
