<app-shell *ngIf="!showSpinner">
  <div class="project__wrapper">
    <app-project-card
      class="project__card-component"
      [project]="project"
    ></app-project-card>
    <div class="table__wrapper">
      <app-employees-table
        [employees]="employeesFiltered"
      ></app-employees-table>
    </div>
  </div>
  <button
    (click)="goToMain()"
    mat-raised-button
    color="primary"
    class="project__button"
  >
    Back
  </button>
</app-shell>
<mat-spinner *ngIf="showSpinner"></mat-spinner>
