<div *ngIf="project">
  <h2 class="project__title">{{ project.name }}</h2>
  <p class="project__subtitle">
    Описание: {{ project.description }} Lorem, ipsum dolor sit amet consectetur
    adipisicing elit. Recusandae illum vero quibusdam officiis saepe in.
    Consectetur debitis sed rem. Libero harum perspiciatis placeat doloremque
    nostrum. Culpa iure nulla aliquam ut? Laboriosam nobis alias nisi tenetur
    corrupti eaque rerum? Error numquam, esse possimus obcaecati rem quae illo
    minima illum ipsam cupiditate veritatis voluptates, neque doloribus dolore,
    nesciunt quidem perspiciatis! Eligendi, veniam. Eum incidunt obcaecati
    mollitia repudiandae debitis
  </p>
</div>
